@import "fuentes";
@import "generales";
@import "index";
@import "nosotros";
@import "servicios";
@import "sucursales";
@import "contacto";
@import "404";






/* resolucion 768px*/
 @media (max-width: 768px) {
   
    h1{
        font-size: 2.6rem;
        text-align: center; 
    }
    .nuestraHistoria {
        height: 200px;
    }
    .nuestraHistoria h2{
        font-size: 2.6rem;
    }
    .nuestraHistoria p{
        font-size: 1.5rem;
        text-align: justify;
    }
    .historiaTexto{
        padding: 1rem;
    }
    .nuestraHistoria img{
        padding: 1rem;
    }
    .seccionServicios{
        height: 520px;
    }
    .seccionServicios img{
        padding: 0 1rem;
    }
    .textoServicios{
        padding: 0 1rem;
    }
    .textoServicios p{
        padding-bottom: 0.5rem;
    }
    .seccionServicios h2{
        font-size: 2.6rem;
    }
    .seccionServicios h3{
        font-size: 2rem;
    }
    .seccionServicios p{
        text-align: justify;
        font-size: 1.5rem;
    }
    .galeriaFotos h2{
        font-size: 3rem;
    }
    .imagenes{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap:1rem;
        grid-row-gap:1rem;
        justify-items: center;
        }
    .opinionesClientes{
    padding: 1rem;
    height: 280px;
    }
    .opinionesClientes h2{
        font-size: 2.6rem;
    }
    .opinionesClientes h3{
        font-size: 2rem;
    }
    .opinionesClientes p{
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .seccionDudas{
    padding: 0 1rem;
    }
    .seccionDudas h2{
        font-size: 2.6rem;
    }
    .seccionDudas p{
        font-size: 1.5rem;
    }

    .historia {
        height: 530px;
        flex-direction: column;
    }
    .ventajas{
    width: 100%;
    }
    .ventajas section{
        background-color: black;
    }
    .ventajas h3{
        font-size: 2rem;
    }
    .ventajas p{
        font-size: 5rem;
    }
    .textoNosotros{
    width: 100%;
    padding: 1rem;
    text-align: center;
    }
    
    .textoNosotros h2{
        font-size: 2.6rem;
    }
    .historia h3 {
        font-size: 2rem;
    }
    .historia p{
        font-size: 1rem;
    }
    .historia div{
        font-size: 1rem;
    }
    .certificados {
        height: 240px;
        flex-direction: column;
    }
    .textoCertificados{
        padding: 1rem;
        width: 80%;
        text-align: center;
    }
    .certificadosNombres {
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        h3{
            font-size: 1rem;
        }
    }
    .servicios{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap:1rem;
        grid-row-gap:1rem;
        justify-items: center;
    }
    .servicios h2{
        font-size: 2rem;
    }
    .servicios p{
        font-size: 1rem;
    }

    .infoContacto h2{
        font-size: 2.6rem;
    }
    .mapa h2{
        font-size: 2.6rem;
    }
    footer{
        height: 150px;
    }
    }


/* resolucion 600px*/
@media (max-width: 600px) {
    
    h1{
        font-size: 2.6rem;
        text-align: center; 
    }
    .nuestraHistoria {
        height:250px;
    }
    .nuestraHistoria h2{
        font-size: 2.6rem;
    }
    .historiaTexto p{
        font-size: 1.5rem;
        text-align: justify;
    }
    .nuestraHistoria__historiaTexto{
        padding: 1rem;
        width: 50%;
    }
    .nuestraHistoria img{
        padding: 1rem;
        width: 50%;
    }
    .seccionServicios{
        height: 750px;
    }
    .seccionServicios img{
        padding: 0 1rem;
        width: 50%;
    }
    .textoServicios{
        padding: 0 1rem;
        width: 50%;
    }
    .textoServicios p{
        padding-bottom: 0.5rem;
    }
    .seccionServicios h2{
        font-size: 2.6rem;
    }
    .seccionServicios h3{
        font-size: 2rem;
    }
    .seccionServicios p{
        text-align: justify;
        font-size: 1.5rem;
    }
    .galeriaFotos h2{
        font-size: 3rem;
    }
    .imagenes{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap:1rem;
        grid-row-gap:1rem;
        justify-items: center;
        }
    .opinionesClientes{
    padding: 1rem;
    height: 300px;
    }
    .opinionesClientes h2{
        font-size: 2.6rem;
    }
    .opinionesClientes h3{
        font-size: 2rem;
    }
    .opinionesClientes p{
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .seccionDudas{
    padding: 0 1rem;
    }
    .seccionDudas h2{
        font-size: 2.6rem;
    }
    .seccionDudas p{
        font-size: 1.5rem;
    }
    .mapa iframe{
        width: 500px;
    }
    .certificados{
        height: 280px;
    }
    .certificadosNombres{
        height: 120px;
    }
    .sucursalesTodas{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    }
/* resolucion 320px*/
@media (max-width: 320px) {

    h1{
        font-size: 0.5rem;
        text-align: center; 
    }
    .nuestraHistoria {
        height: 410px;
        flex-direction: column;
    }
    .nuestraHistoria h2{
        font-size: .2rem;
        text-align: center;
    }
    .nuestraHistoria p{
        font-size: 1rem;
        text-align: justify;
        margin: 0;
        padding: 0;
    }
    .historiaTexto{
        padding: 1rem;
        margin: 0;
    }
    .nuestraHistoria img{
        padding: 1rem;
    }
    .seccionServicios{
        height: 1100px;
        flex-direction: column-reverse;
    }
    .seccionServicios img{
        padding: 0 1rem;
    }
    .textoServicios{
        padding: 0 1rem;
    }
    .textoServicios p{
        padding-bottom: 0.5rem;
    }
    .seccionServicios h2{
        font-size: 1.9rem;
    }
    .seccionServicios h3{
        font-size: 1.3rem;
    }
    .seccionServicios p{
        text-align: justify;
        font-size: 1rem;
    }
    .galeriaFotos h2{
        font-size: 2rem;
    }
    .imagenes{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap:1rem;
        grid-row-gap:1rem;
        justify-items: center;
        }
    .opinionesClientes{
    padding: 1rem;
    height: 250px;
    }
    .opinionesClientes h2{
        font-size: 1.9rem;
    }
    .opinionesClientes h3{
        font-size: 1.3rem;
    }
    .opinionesClientes p{
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }
    .seccionDudas{
    padding: 0 1rem;
    height: 150px;
    }
    .seccionDudas h2{
        font-size: 2rem;
    }
    .seccionDudas p{
        font-size: 1.5rem;
    }
    .seccionDudas img{
        width: 50%;
        padding: 1rem;
    }
    .textoDudas{
        width: 50%;
        padding: 1rem;
    }
.inicioNosotros{
    h1{
        font-size: 2rem;
    }
}
    .historia {
        height: 550px;
        flex-direction: column;
    }
    .ventajas{
    width: 100%;
    }
    .ventajas section{
        background-color: black;
    }
    .ventajas h3{
        font-size: 1.3rem;
    }
    .ventajas p{
        font-size: 1rem;
    }
    .textoNosotros{
    width: 100%;
    padding: 1rem;
    text-align: center;
    }
    
    .textoNosotros h2{
        font-size: 2rem;
    }
    .historia h3 {
        font-size: 1.3rem;
    }
    .historia p{
        font-size: 1rem;
    }
    .historia div{
        font-size: 1rem;
    }
    .ventajas img{
        width: 30px;
    }
    .certificados {
        height: 400px;
        flex-direction: column;
        padding: 0.5rem;
    }
    .textoCertificados{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .textoCertificados h2{
        font-size: 2rem;
    }
    .textoCertificados p{
        font-size: 1rem;
    }
    .certificadosNombres {
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap:1rem;
        grid-row-gap:1rem;
        justify-items: center;
    }
    .certificadosNombres h3{
        font-size: 1.3rem;
    }
    .servicios{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap:1rem;
        grid-row-gap:1rem;
        justify-items: center;
    }
    .servicios h2{
        font-size: 2rem;
    }
    .servicios p{
        font-size: 1rem;
    }

    .nuestrasSucursales table{
        width: 80%;
    }
    
    .nuestrasSucursales h2{
        font-size: 2rem;
    }
    
    
    .titulos {
        font-size: 1rem;
    }
    .infoContacto h2{
        font-size: 2rem;
    }
    .mapa h2{
        font-size: 2rem;
    }
    .mapa iframe{
        width: 300px;
    }

    footer{
        height: 350px;
        width: 100%;
    }
    .partesFooter{
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 300px;
    }
    footer nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 0.7rem;
        list-style-position: inside;
    }
    
    footer h3 {
        color: yellow;
        font-size: 0.9rem;
        font-weight: 400;
    }
    
    footer h6 {
        color: red;
        font-weight: 200;
    }
    
    footer p{
        font-size: 0.7rem;
        background-color: none;
    }
    .footerUno{
        background-color: black;
        width: 40%;
        height: 150px;
    }
    .footerDos{
        background-color: black;
        width: 10%;
    }
    .footerDos li {
        text-decoration: none;
        list-style: none;
        color: white;
        font-weight: 300;
        font-size: 100%;
        list-style-position: inside;
    }
    .footerTres li{
        display: inline-block;
    }
    .footerTres{
        background-color: black;
        width: 30%;
    }
    footer h6{
        text-align: center;
        font-size: 100%;
    }
    .sucursalesTodas{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
    }
}    